.optionsConteiner{
    display: flex;
    gap: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.optionBtn{
    display: block;
    
    text-align: center;
    cursor: pointer;
   
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px rgb(46, 48, 47); ;
    font-size: 14px;
    font-weight: bold;
    margin: 20px auto;
   
    padding: 1px 5px;
    color: #fafafa;
    background-color: #889190;
}

.optionBtn:hover:focus{
    background-color: #92afad;
}